/* another settings */
h1{font-size:1.5em;color:#000}
 h2{font-size:1.2em;color:#222}
  h3{font-size:1.1em;color:#444}
   h4{font-size:1.0em; font-weight: 500; color:#666;}
    h5{font-size:1.0em; font-weight: 400; color: #888;}
     h6{font-size:1.0em; font-weight: 300; color: #999;}

 html,body{
  height: 100%;
  width: 100%;
  margin: auto;
 }
 a{
   text-decoration: none;
   color:$c-white;
 }
 ul{
  margin: 0px;
  padding: 0px;
 }
 input[type="submit"]{
   cursor: pointer;
 }
