cards{
  position: relative;
  margin: 12px auto;
  z-index: 0;
}
card{
  margin: 3px 0px;
  box-shadow: 0px 1px 2px 1px #c5c5c5;
  position: relative;
}
cardtime{
  @extend [flx];
  @extend [flx~="jc-c"];
  @extend [gnrl~="txt-s"];
  @extend [gnrl~="b-1"];
  @extend [color~="brc-muted"];
  padding: 3px 6px;
}
