/* general default settings */
[default~="fs"]{font-size:$font-size}
[default~="c"]{color:$c-private}
[default~="bg"]{background-color:#ececec}
[default~="pm"]{
  padding: 3px 0px;
  margin: 3px 0px;
}
/* diğer default özellikler bunlar tam isimleri ile yazılacaktır */
[default~="media"]{
    overflow-x: auto;
    width: 50%;
    margin: auto;
  /*  @extend [flx];
    @extend [flx~="jc-c"];*/
    @media screen and (max-width: 900px) {
        width: 80%;
    }
    @media screen and (max-width: 700px) {
        width: 90%;
    }
    @media screen and (max-width: 500px) {
        width: 96%;
    }
    @media screen and (max-width: 300px) {
        width: 98%;
    }
}
[default~="paragraph"]{
    @extend [flx];
    @extend [flx~="jc-c"];
    @extend [flx~="ai-c"];
    @extend [gnrl~="b-1"];
    @extend [gnrl~="br-3"];
    @extend [gnrl~="txt-m"];
    @extend [gnrl~="bg-white"];
    @extend [gnrl~="brc-muted"];
    @extend [default~="media"];
    padding: 0px 12px;
    word-wrap: break-word;
    a{
      @extend [gnrl~="c-info"];
      &:hover,&:focus,&:active{
        color:$c-success;
      }
    }
    li{
      list-style: unset;
    }
    img{
      max-height: 100%;
      max-width: 100%;
    }
}
[default~="forminput"]{
  label{
    @extend [gnrl~="txt-m"];
    @extend [default~="pm"];
  }
  li label{
    @extend [flx];
    @extend [flx~="as-fs"];
  }
  input,select{
    width: 66%;
    min-width: 200px;
    min-height: 16px;
    padding: 4px 12px;
    @extend [gnrl~="txt-m"];
    @extend [gnrl~="b-1"];
    @extend [gnrl~="br-2"];
    @extend [gnrl~="brc-muted"];
    @extend [default~="pm"];
    @extend [gnrl~="bg-white"];
    &:hover,&:focus,&:active{
      border-color:$c-secondary;
    }
  }
  input[type="submit"]{
    @extend [gnrl~="wf"];
    @include prefixed2(min-width,fit-content);
    margin-left: 6px;
    padding: 4px 12px;
    &:hover,&:focus{
      border-color:$c-success;
      background-color:$c-success;
      color:$c-white;
    }
    &:active{
      border-color:$c-primary;
      background-color:$c-primary;
    }
  }
}
[default~="form"]{
  /*@extend [flx];
  @extend [flx~="ai-c"];
  @extend [flx~="jc-c"];*/
  @extend [gnrl~="b-1"];
  @extend [gnrl~="br-2"];
  @extend [gnrl~="bg-white"];
  @extend [gnrl~="brc-muted"];
  @extend [default~="forminput"];
  p input,li input{
    @extend [flx];
    @extend [flx~="jc-c"];
  }
  li{
    list-style: none;
  }
}
