/* general default settings */
[default~="fs"]{font-size:$font-size}
[default~="c"]{color:$c-private}
[default~="bg"]{background-color:#ececec}
[default~="pm"]{
  padding: 3px 0px;
  margin: 3px 0px;
}
/* diğer default özellikler bunlar tam isimleri ile yazılacaktır */
[default~="media"]{
    width: 50%;
    @media screen and (max-width: 900px) {
        width: 80%;
    }
    @media screen and (max-width: 700px) {
        width: 90%;
    }
    @media screen and (max-width: 500px) {
        width: 96%;
    }
    @media screen and (max-width: 300px) {
        width: 98%;
    }
}
[default~="media2"]{
    width: 30%;
    @media screen and (max-width: 1024px) {
      width: 40%;
    }
    @media screen and (max-width: 900px) {
        width: 60%;
    }
    @media screen and (max-width: 700px) {
        width: 80%;
    }
    @media screen and (max-width: 500px) {
        width: 98%;
    }
}
[default~="paragraph"]{
    word-wrap: break-word;
    a{
      @extend [color~="c-info"];
      &:hover,&:focus,&:active{
        color:$c-success;
      }
    }
    img{
      max-height: 100%;
      max-width: 100%;
      margin: auto;
    }
}
[default~="forminput"]{
  label{
    @extend [gnrl~="txt-m"];
    @extend [default~="pm"];
  }
  li label{
    @extend [flx];
    @extend [flx~="as-fs"];
  }
  input,select{
    width: 96%;
    min-width: 200px;
    min-height: 24px;
    padding: 4px 12px;
    @extend [gnrl~="txt-m"];
    @extend [gnrl~="b-1"];
    @extend [gnrl~="br-2"];
    @extend [color~="brc-muted"];
    @extend [default~="pm"];
    @extend [color~="bg-white"];
    &:hover,&:focus,&:active{
      border-color:$c-secondary;
    }
  }
  input[type="submit"]{
    @extend [gnrl~="wf"];
    @include prefixed2(min-width,fit-content);
    margin-left: 6px;
    padding: 4px 12px;
    &:hover,&:focus{
      border-color:$c-success;
      background-color:$c-success;
      color:$c-white;
    }
    &:active{
      border-color:$c-primary;
      background-color:$c-primary;
    }
  }
}
[default~="form"]{
  @extend [default~="forminput"];
  p input,li input{
    @extend [flx];
    @extend [flx~="jc-c"];
  }
}
/* another default settings */
