// mobile s
[device-mobiles~="w-10"]{
  @media screen and (max-width: 320px) {
      width: 10%;
  }
}
[device-mobiles~="w-20"]{
  @media screen and (max-width: 320px) {
      width: 20%;
  }
}
[device-mobiles~="w-30"]{
  @media screen and (max-width: 320px) {
      width: 30%;
  }
}
[device-mobiles~="w-40"]{
  @media screen and (max-width: 320px) {
      width: 40%;
  }
}
[device-mobiles~="w-50"]{
  @media screen and (max-width: 320px) {
      width: 50%;
  }
}
[device-mobiles~="w-60"]{
  @media screen and (max-width: 320px) {
      width: 60%;
  }
}
[device-mobiles~="w-70"]{
  @media screen and (max-width: 320px) {
      width: 70%;
  }
}
[device-mobiles~="w-80"]{
  @media screen and (max-width: 320px) {
      width: 80%;
  }
}
[device-mobiles~="w-90"]{
  @media screen and (max-width: 320px) {
      width: 90%;
  }
}
[device-mobiles~="w-92"]{
  @media screen and (max-width: 320px) {
      width: 92%;
  }
}
[device-mobiles~="w-94"]{
  @media screen and (max-width: 320px) {
      width: 94%;
  }
}
[device-mobiles~="w-96"]{
  @media screen and (max-width: 320px) {
      width: 96%;
  }
}
[device-mobiles~="w-98"]{
  @media screen and (max-width: 320px) {
      width: 98%;
  }
}
[device-mobiles~="w-100"]{
  @media screen and (max-width: 320px) {
      width: 100%;
  }
}
// mobile m
[device-mobilem~="w-10"]{
  @media screen and (max-width: 375px) {
      width: 10%;
  }
}
[device-mobilem~="w-20"]{
  @media screen and (max-width: 375px) {
      width: 20%;
  }
}
[device-mobilem~="w-30"]{
  @media screen and (max-width: 375px) {
      width: 30%;
  }
}
[device-mobilem~="w-40"]{
  @media screen and (max-width: 375px) {
      width: 40%;
  }
}
[device-mobilem~="w-50"]{
  @media screen and (max-width: 375px) {
      width: 50%;
  }
}
[device-mobilem~="w-60"]{
  @media screen and (max-width: 375px) {
      width: 60%;
  }
}
[device-mobilem~="w-70"]{
  @media screen and (max-width: 375px) {
      width: 70%;
  }
}
[device-mobilem~="w-80"]{
  @media screen and (max-width: 375px) {
      width: 80%;
  }
}
[device-mobilem~="w-90"]{
  @media screen and (max-width: 375px) {
      width: 90%;
  }
}
[device-mobilem~="w-92"]{
  @media screen and (max-width: 375px) {
      width: 92%;
  }
}
[device-mobilem~="w-94"]{
  @media screen and (max-width: 375px) {
      width: 94%;
  }
}
[device-mobilem~="w-96"]{
  @media screen and (max-width: 375px) {
      width: 96%;
  }
}
[device-mobilem~="w-98"]{
  @media screen and (max-width: 375px) {
      width: 98%;
  }
}
[device-mobilem~="w-100"]{
  @media screen and (max-width: 375px) {
      width: 100%;
  }
}
// mobile l
[device-mobilel~="w-10"]{
  @media screen and (max-width: 425px) {
      width: 10%;
  }
}
[device-mobilel~="w-20"]{
  @media screen and (max-width: 425px) {
      width: 20%;
  }
}
[device-mobilel~="w-30"]{
  @media screen and (max-width: 425px) {
      width: 30%;
  }
}
[device-mobilel~="w-40"]{
  @media screen and (max-width: 425px) {
      width: 40%;
  }
}
[device-mobilel~="w-50"]{
  @media screen and (max-width: 425px) {
      width: 50%;
  }
}
[device-mobilel~="w-60"]{
  @media screen and (max-width: 425px) {
      width: 60%;
  }
}
[device-mobilel~="w-70"]{
  @media screen and (max-width: 425px) {
      width: 70%;
  }
}
[device-mobilel~="w-80"]{
  @media screen and (max-width: 425px) {
      width: 80%;
  }
}
[device-mobilel~="w-90"]{
  @media screen and (max-width: 425px) {
      width: 90%;
  }
}
[device-mobilel~="w-92"]{
  @media screen and (max-width: 425px) {
      width: 92%;
  }
}
[device-mobilel~="w-94"]{
  @media screen and (max-width: 425px) {
      width: 94%;
  }
}
[device-mobilel~="w-96"]{
  @media screen and (max-width: 425px) {
      width: 96%;
  }
}
[device-mobilel~="w-98"]{
  @media screen and (max-width: 425px) {
      width: 98%;
  }
}
[device-mobilel~="w-100"]{
  @media screen and (max-width: 425px) {
      width: 100%;
  }
}
// tablet
[device-tablet~="w-10"]{
  @media screen and (max-width: 768px) {
      width: 10%;
  }
}
[device-tablet~="w-20"]{
  @media screen and (max-width: 768px) {
      width: 20%;
  }
}
[device-tablet~="w-30"]{
  @media screen and (max-width: 768px) {
      width: 30%;
  }
}
[device-tablet~="w-40"]{
  @media screen and (max-width: 768px) {
      width: 40%;
  }
}
[device-tablet~="w-50"]{
  @media screen and (max-width: 768px) {
      width: 50%;
  }
}
[device-tablet~="w-60"]{
  @media screen and (max-width: 768px) {
      width: 60%;
  }
}
[device-tablet~="w-70"]{
  @media screen and (max-width: 768px) {
      width: 70%;
  }
}
[device-tablet~="w-80"]{
  @media screen and (max-width: 768px) {
      width: 80%;
  }
}
[device-tablet~="w-90"]{
  @media screen and (max-width: 768px) {
      width: 90%;
  }
}
[device-tablet~="w-92"]{
  @media screen and (max-width: 768px) {
      width: 92%;
  }
}
[device-tablet~="w-94"]{
  @media screen and (max-width: 768px) {
      width: 94%;
  }
}
[device-tablet~="w-96"]{
  @media screen and (max-width: 768px) {
      width: 96%;
  }
}
[device-tablet~="w-98"]{
  @media screen and (max-width: 768px) {
      width: 98%;
  }
}
[device-tablet~="w-100"]{
  @media screen and (max-width: 768px) {
      width: 100%;
  }
}
// laptop
[device-laptop~="w-10"]{
  @media screen and (max-width: 1024px) {
      width: 10%;
  }
}
[device-laptop~="w-20"]{
  @media screen and (max-width: 1024px) {
      width: 20%;
  }
}
[device-laptop~="w-30"]{
  @media screen and (max-width: 1024px) {
      width: 30%;
  }
}
[device-laptop~="w-40"]{
  @media screen and (max-width: 1024px) {
      width: 40%;
  }
}
[device-laptop~="w-50"]{
  @media screen and (max-width: 1024px) {
      width: 50%;
  }
}
[device-laptop~="w-60"]{
  @media screen and (max-width: 1024px) {
      width: 60%;
  }
}
[device-laptop~="w-70"]{
  @media screen and (max-width: 1024px) {
      width: 70%;
  }
}
[device-laptop~="w-80"]{
  @media screen and (max-width: 1024px) {
      width: 80%;
  }
}
[device-laptop~="w-90"]{
  @media screen and (max-width: 1024px) {
      width: 90%;
  }
}
[device-laptop~="w-92"]{
  @media screen and (max-width: 1024px) {
      width: 92%;
  }
}
[device-laptop~="w-94"]{
  @media screen and (max-width: 1024px) {
      width: 94%;
  }
}
[device-laptop~="w-96"]{
  @media screen and (max-width: 1024px) {
      width: 96%;
  }
}
[device-laptop~="w-98"]{
  @media screen and (max-width: 1024px) {
      width: 98%;
  }
}
[device-laptop~="w-100"]{
  @media screen and (max-width: 1024px) {
      width: 100%;
  }
}
// laptop l
[device-laptopl~="w-10"]{
  @media screen and (max-width: 1440px) {
      width: 10%;
  }
}
[device-laptopl~="w-20"]{
  @media screen and (max-width: 1440px) {
      width: 20%;
  }
}
[device-laptopl~="w-30"]{
  @media screen and (max-width: 1440px) {
      width: 30%;
  }
}
[device-laptopl~="w-40"]{
  @media screen and (max-width: 1440px) {
      width: 40%;
  }
}
[device-laptopl~="w-50"]{
  @media screen and (max-width: 1440px) {
      width: 50%;
  }
}
[device-laptopl~="w-60"]{
  @media screen and (max-width: 1440px) {
      width: 60%;
  }
}
[device-laptopl~="w-70"]{
  @media screen and (max-width: 1440px) {
      width: 70%;
  }
}
[device-laptopl~="w-80"]{
  @media screen and (max-width: 1440px) {
      width: 80%;
  }
}
[device-laptopl~="w-90"]{
  @media screen and (max-width: 1440px) {
      width: 90%;
  }
}
[device-laptopl~="w-92"]{
  @media screen and (max-width: 1440px) {
      width: 92%;
  }
}
[device-laptopl~="w-94"]{
  @media screen and (max-width: 1440px) {
      width: 94%;
  }
}
[device-laptopl~="w-96"]{
  @media screen and (max-width: 1440px) {
      width: 96%;
  }
}
[device-laptopl~="w-98"]{
  @media screen and (max-width: 1440px) {
      width: 98%;
  }
}
[device-laptopl~="w-100"]{
  @media screen and (max-width: 1440px) {
      width: 100%;
  }
}
// 4k
[device-4k~="w-10"]{
  @media screen and (max-width: 2560px) {
      width: 10%;
  }
}
[device-4k~="w-20"]{
  @media screen and (max-width: 2560px) {
      width: 20%;
  }
}
[device-4k~="w-30"]{
  @media screen and (max-width: 2560px) {
      width: 30%;
  }
}
[device-4k~="w-40"]{
  @media screen and (max-width: 2560px) {
      width: 40%;
  }
}
[device-4k~="w-50"]{
  @media screen and (max-width: 2560px) {
      width: 50%;
  }
}
[device-4k~="w-60"]{
  @media screen and (max-width: 2560px) {
      width: 60%;
  }
}
[device-4k~="w-70"]{
  @media screen and (max-width: 2560px) {
      width: 70%;
  }
}
[device-4k~="w-80"]{
  @media screen and (max-width: 2560px) {
      width: 80%;
  }
}
[device-4k~="w-90"]{
  @media screen and (max-width: 2560px) {
      width: 90%;
  }
}
[device-4k~="w-92"]{
  @media screen and (max-width: 2560px) {
      width: 92%;
  }
}
[device-4k~="w-94"]{
  @media screen and (max-width: 2560px) {
      width: 94%;
  }
}
[device-4k~="w-96"]{
  @media screen and (max-width: 2560px) {
      width: 96%;
  }
}
[device-4k~="w-98"]{
  @media screen and (max-width: 2560px) {
      width: 98%;
  }
}
[device-4k~="w-100"]{
  @media screen and (max-width: 2560px) {
      width: 100%;
  }
}
