@import "variable/variables.scss";
@import "mixin/mixins.scss";
@import "font/font.scss";

$device_name: "general";

@import "coogger/device.scss";

[default~="forminput"]{
  label{
    @extend [general~="text:m"];
    padding: 3px 0px;
    margin: 3px 0px;
  }
  li label{
    @extend [general~="flex"];
    @extend [general~="flex:as-fs"];
  }
  input,select{
    width: 96%;
    min-width: 200px;
    min-height: 24px;
    @extend [general~="text:m"];
    @extend [general~="border:1"];
    @extend [general~="br:2"];
    @extend [general~="brc:muted"];
    padding: 3px 0px;
    margin: 3px 0px;
    @extend [general~="bg:white"];
    &:hover,&:focus,&:active{
      border-color:map-get($colors, secondary);
    }
  }
  input[type="submit"]{
    @extend [general~="width:f"];
    @include reverse-prefixed(min-width, fit-content);
    margin-left: 6px;
    padding: 4px 12px;
    &:hover,&:focus{
      border-color:map-get($colors, success);
      background-color:map-get($colors, success);
      color:map-get($colors, white);
    }
    &:active{
      border-color:map-get($colors, primary);
      background-color:map-get($colors, primary);
    }
  }
}
[default~="form"]{
  @extend [default~="forminput"];
  p input,li input{
    @extend [general~="flex"];
    @extend [general~="flex:jc-c"];
  }
}
/* another settings */
h1{font-size:1.5em;color:#000}
 h2{font-size:1.2em;color:#222}
  h3{font-size:1.1em;color:#444}
   h4{font-size:1.0em; font-weight: 500; color:#666;}
    h5{font-size:1.0em; font-weight: 400; color: #888;}
     h6{font-size:1.0em; font-weight: 300; color: #999;}

 html,body{
  height: 100%;
  width: 100%;
  margin: auto;
 }
 a{
   text-decoration: none;
   @extend [general~="color:dark"];
 }
 ul{
  margin: 0px;
  padding: 0px;
 }
 input[type="submit"]{
   cursor: pointer;
 }
img{
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}
// general
[general~="width:f"]{
  @include reverse-prefixed(width, fit-content);
}
[general~="width:a"]{
  @include reverse-prefixed(width, available);
}
[general~="width:max"]{
  @include reverse-prefixed(width, max-content);
}
[general~="width:min"]{
  @include reverse-prefixed(width, min-content);
}
[general~="flex"]{
  @include prefixed(display, flex);
  @extend [general~="flex:fd-r"];
  @extend [general~="flex:fw-w"];
  @extend [general~="flex:jc-fs"];
  @extend [general~="flex:ai-s"];
  @extend [general~="flex:ac-s"];
}
[general~="position:center"]{
  @include prefixed(display, flex);
  @extend [general~="flex:jc-c"];
  margin: auto;
}
[general~="position:ewcenter"]{
@include prefixed(display, flex);
  @extend [general~="flex:jc-c"];
  @extend [general~="flex:ai-c"];
  margin: auto;
}
[general~="position:right"]{
  @include prefixed(display, flex);
  @extend [general~="flex:jc-fe"];
  margin-left: auto;
}
[general~="position:left"]{
  @include prefixed(display, flex);
  @extend [general~="flex:jc-fs"];
  margin-right: auto;
}
[general~="text:unselectable"]{
  @include prefixed(user-select, none)
}
