/* another settings */
h1{font-size:1.5em;color:#000}
 h2{font-size:1.2em;color:#222}
  h3{font-size:1.1em;color:#444}
   h4{font-size:1.0em; font-weight: 500; color:#666;}
    h5{font-size:1.0em; font-weight: 400; color: #888;}
     h6{font-size:1.0em; font-weight: 300; color: #999;}

 html,body{
  height: 100%;
  width: 100%;
  margin: auto;
 }
 a{
   text-decoration: none;
   color:$c-white;
 }
 ul{
  margin: 0px;
  padding: 0px;
 }
 input[type="submit"]{
   cursor: pointer;
 }
img{
  max-width: 100%;
  max-height: 100%;
}
title{
  @extend [flx];
  @extend [flx~="jc-c"];
  @extend [flx~="ai-c"];
  @extend [gnrl~="txt-m"];
  @extend [gnrl~="b-1"];
  @extend [color~="brc-muted"];
  @extend [color~="c-private"];
  text-align: center;
  word-break: break-all;
  padding: 3px 6px;
}
.helptext{
  @extend [flx];
  @extend [color~="bg-warning"];
  @extend [color~="c-white"];
  @extend [gnrl~="br-2"];
  @extend [default~="pm"];
  padding: 4px 12px;
}
