/* general operations */
/* text boyutları */
@include general(gnrl, txt-xs, font-size, 8px);
@include general(gnrl, txt-s, font-size, 12px);
@include general(gnrl, txt-m, font-size, 16px);
@include general(gnrl, txt-l, font-size, 20px);
@include general(gnrl, txt-xl, font-size, 24px);
@include general(gnrl, txt-xxl, font-size, 28px);
/* border */
@include general-prefixed(gnrl, b-1, border ,1px solid);
@include general-prefixed(gnrl, b-2, border ,2px solid);
@include general-prefixed(gnrl, b-3, border ,3px solid);
@include general-prefixed(gnrl, b-4, border ,4px solid);
@include general-prefixed(gnrl, b-5, border ,5px solid);
@include general-prefixed(gnrl, b-6, border ,6px solid);
@include general-prefixed(gnrl, b-7, border ,7px solid);
@include general-prefixed(gnrl, b-8, border ,8px solid);
@include general-prefixed(gnrl, b-9, border ,9px solid);
@include general-prefixed(gnrl, b-10, border ,10px solid);
/* border-radius ayarı */
@include general-prefixed(gnrl, br-1, border-radius, 2px);
@include general-prefixed(gnrl, br-2, border-radius, 4px);
@include general-prefixed(gnrl, br-3, border-radius, 6px);
@include general-prefixed(gnrl, br-4, border-radius, 8px);
@include general-prefixed(gnrl, br-5, border-radius, 10px);
@include general-prefixed(gnrl, br-6, border-radius, 12px);
@include general-prefixed(gnrl, br-circle, border-radius, 50%);
/* genişlik ayarları */
@include general-prefixed2(gnrl, wf, width, fit-content);
@include general-prefixed2(gnrl, wa, width, available);
@include general-prefixed2(gnrl, wmax, width, max-content);
@include general-prefixed2(gnrl, wmin, width, min-content);
/* genişlik ayarları */
/* metin seçmeyi engellemek için */
[gnrl~="unselectable"]{@include prefixed(user-select,none)}
/* general operations */
[gnrl~="center"]{
  @extend [flx];
  @extend [flx~="jc-c"];
  margin: auto;
}
[gnrl~="ewcenter"]{
  @extend [flx];
  @extend [flx~="jc-c"];
  @extend [flx~="ai-c"];
  margin: auto;
}
[gnrl~="right"]{
  @extend [flx];
  @extend [flx~="jc-fe"];
  margin-left: auto;
}
[gnrl~="left"]{
  @extend [flx];
  @extend [flx~="jc-fs"];
  margin-right: auto;
}
