$device_name: "laptop-l";
$min: 1025px;
$max: 1440px;

@import "variable/variables.scss";
@import "mixin/mixins.scss";
@media screen and (min-width: $min) and (max-width: $max) {
    @import "coogger/coogger.scss";
}