$device_name: "mobile-l";
$min: 376px;
$max: 425px;

@import "variable/variables.scss";
@import "mixin/mixins.scss";
@media screen and (min-width: $min) and (max-width: $max) {
    @import "coogger/coogger.scss";
}