/* private  settings*/
$c-private:#0f391d;
$bg-private:#0f391d;
$brc-private:#0f391d;
/* */
$padding:4px 12px;
$margin:2px 6px;
$font-size:16px;
/* flex default settings */
$fd:row; /* flex-direction */
$fw:wrap; /* flex-wrap */
$jc:flex-start;  /* justify-content */
$ai:stretch; /* align-items */
$ac:stretch; /* align-content */
/* color */
$c-primary:#3498db;
$c-secondary: #99a3a4 ;
$c-success: #1abc9c ;
$c-danger: #e74c3c ;
$c-warning:#f1c40f ;
$c-info: #85c1e9 ;
$c-white:#fff;
$c-dark:#17202a ;
$c-muted: #eaecee;
/* animations op */
$a-fill-mode: both;
$a-duration :.45s;
$animation-duration :.75s;
