$padding:4px 12px;
$margin:2px 6px;
$font-size:16px;
/* animations op */
$a-fill-mode: both;
$a-duration :.45s;
$animation-duration :.75s;
/* colors */
$colors: (
  primary: #3498db,
  secondary: #99a3a4,
  success: #1abc9c,
  danger: #e74c3c,
  warning: #f1c40f,
  info: #85c1e9,
  dark: #17202a,
  muted: #eaecee,
  white: #fff,
  // https://github.com/omergulcicek/turkuaz/blob/master/turkuaz.css#L1569
  yellow: #ffeb3b,
  yellow6: yellow,
  yellow2: #fff9c4,
  yellow3: #fff59d,
  yellow4: #fff176,
  yellow5: #ffee58,
  yellow7: #fdd835,
  yellow8: #fbc02d,
  yellow9: #f9a825,
  yellow10: #f57f17,

  orange: #ff9800,
  orange6: orange,
  orange2: #ffe0b2,
  orange3: #ffcc80,
  orange4: #ffb74d,
  orange5: #ffa726,
  orange7: #fb8c00,
  orange8: #f57c00,
  orange9: #ef6c00,
  orange10: #e65100,

  dark-orange: #ff5722,
  dark-orange6: dark-orange,
  dark-orange2: #ffccbc,
  dark-orange3: #ffab91,
  dark-orange4: #ff8a65,
  dark-orange5: #ff7043,
  dark-orange7: #f4511e,
  dark-orange8: #e64a19,
  dark-orange9: #d84315,
  dark-orange10: #bf360c,

  red: #f44336,
  red6: red,
  red2: #ffcdd2,
  red3: #ef9a9a,
  red4: #e57373,
  red5: #ef5350,
  red7: #e53935,
  red8: #d32f2f,
  red9: #c62828,
  red10: #b71c1c,

  pink: #e91e63,
  pink6: pink,
  pink2: #f8bbd0,
  pink3:#f48fb1,
  pink4:#f06292,
  pink5:#ec407a,
  pink7:#d81b60,
  pink8:#c2185b,
  pink9:#ad1457,
  pink10:#880e4f,

  dark-purple: #673ab7,
  dark-purple6: dark-purple,
  dark-purple2: #d1c4e9,
  dark-purple3: #b39ddb,
  dark-purple4: #9575cd,
  dark-purple5: #7e57c2,
  dark-purple7: #5e35b1,
  dark-purple8: #512da8,
  dark-purple9: #4527a0,
  dark-purple10: #311b92,

  blue: #2196f3,
  blue6: blue,
  blue2: #bbdefb,
  blue3: #90caf9,
  blue4: #64b5f6,
  blue5: #42a5f5,
  blue7: #1e88e5,
  blue8: #1976d2,
  blue9: #1565c0,
  blue10: #0d47a1,

  light-blue: #03a9f4,
  light-blue6: light-blue,
  light-blue2: #b3e5fc,
  light-blue3: #81d4fa,
  light-blue4: #4fc3f7,
  light-blue5: #29b6f6,
  light-blue7: #039be5,
  light-blue8: #0288d1,
  light-blue9: #0277bd,
  light-blue10: #01579b,

  turquoise: #1ac5b8,
  turquoise6: turquoise,
  turquoise2: #c1fdf8,
  turquoise3: #56f7eb,
  turquoise4: #36eadd,
  turquoise5: #2ed8cb,
  turquoise7: #12b9ac,
  turquoise8: #0cab9e,
  turquoise9: #03968a,
  turquoise10: #038075,

  green: #4caf50,
  green6: green,
  green2: #c8e6c9,
  green3: #a5d6a7,
  green4: #81c784,
  green5: #66bb6a,
  green7: #43a047,
  green8: #388e3c,
  green9: #2e7d32,
  green10: #1b5e20,

  light-green: #8bc34a,
  light-green6: light-green,
  light-green2: #dcedc8,
  light-green3: #c5e1a5,
  light-green4: #aed581,
  light-green5: #9ccc65,
  light-green7: #7cb342,
  light-green8: #689f38,
  light-green9: #558b2f,
  light-green10: #33691e,

  brown: #795548,
  brown6: brown,
  brown2: #d7ccc8,
  brown3: #bcaaa4,
  brown4: #a1887f,
  brown5: #8d6e63,
  brown7: #6d4c41,
  brown8: #5d4037,
  brown9: #4e342e,
  brown10: #3e2723,

  grey: #9e9e9e,
  grey6: grey,
  grey2: #f5f5f5,
  grey3: #eeeeee,
  grey4: #e0e0e0,
  grey5: #bdbdbd,
  grey7: #757575,
  grey8: #4e4e4e,
  grey9: #4e342e,
  grey10: #424040,

  black: #000,
  black2: #404040,
  black3: #353535,
  black4: #303030,
  black5: #252525,
  black6: #202020,
  black7: #151515,
  black8: #101010,
  black9: #050505,
);
// animations
$animations:(
  "rebound",
  "blink",
  "flash",
  "pulse",
  "rubberBand",
  "shake",
  "headShake",
  "swing",
  "tada",
  "wobble",
  "jello",
  "bounceIn",
  "bounceInDown",
  "bounceInLeft",
  "bounceInRight",
  "bounceInUp",
  "bounceOut",
  "bounceOutDown",
  "bounceOutLeft",
  "bounceOutRight",
  "bounceOutUp",
  "fadeIn",
  "fadeInDown",
  "fadeInDownBig",
  "fadeInLeft",
  "fadeInLeftBig",
  "fadeInRight",
  "fadeInRightBig",
  "fadeInUp",
  "fadeInUpBig",
  "fadeOut",
  "fadeOutDown",
  "fadeOutDownBig",
  "fadeOutLeft",
  "fadeOutLeftBig",
  "fadeOutRight",
  "fadeOutRightBig",
  "fadeOutUp",
  "fadeOutUpBig",
  "flip",
  "flipInX",
  "flipInY",
  "flipOutX",
  "flipOutY",
  "lightSpeedIn",
  "lightSpeedOut",
  "rotateIn",
  "rotateInDownLeft",
  "rotateInDownRight",
  "rotateInUpLeft",
  "rotateInUpRight",
  "rotateOut",
  "rotateOutDownLeft",
  "rotateOutDownRight",
  "rotateOutUpLeft",
  "rotateOutUpRight",
  "hinge",
  "jackInTheBox",
  "rollIn",
  "rollOut",
  "zoomIn",
  "zoomInDown",
  "zoomInLeft",
  "zoomInRight",
  "zoomInUp",
  "zoomOut",
  "zoomOutDown",
  "zoomOutLeft",
  "zoomOutRight",
  "zoomOutUp",
  "slideInDown",
  "slideInLeft",
  "slideInRight",
  "slideInUp",
  "slideOutDown",
  "slideOutLeft",
  "slideOutRight",
  "slideOutUp",
);
$size:(
  "xs": 8px,
  "s": 12px,
  "m": 16px,
  "l": 20px,
  "xl": 24px,
  "xxl": 28px,
);
$devices: (
  "max": 2560px,
  "laptop-l": 1440px,
  "laptop": 1024px,
  "tablet": 768px,
  "mobile-l": 425px,
  "mobile-m": 375px,
  "mobile-s": 320px,
);
