$padding:4px 12px;
$margin:2px 6px;
$font-size:16px;
/* flex default settings */
$fd:row; /* flex-direction */
$fw:wrap; /* flex-wrap */
$jc:flex-start;  /* justify-content */
$ai:stretch; /* align-items */
$ac:stretch; /* align-content */
/* animations op */
$a-fill-mode: both;
$a-duration :.45s;
$animation-duration :.75s;
/* colors */
/* private  settings*/
$c-private: #0f391d;
$bg-private: #0f391d;
$brc-private: #0f391d;
// https://github.com/omergulcicek/turkuaz/blob/master/turkuaz.css#L1569
$c-primary: #3498db;
$c-secondary: #99a3a4;
$c-success: #1abc9c;
$c-danger: #e74c3c;
$c-warning: #f1c40f;
$c-info: #85c1e9;
$c-dark: #17202a;
$c-muted: #eaecee;
$c-white: #fff;

$c-yellow: #ffeb3b;
$c-yellow6: $c-yellow;
$c-yellow2: #fff9c4;
$c-yellow3: #fff59d;
$c-yellow4: #fff176;
$c-yellow5: #ffee58;
$c-yellow7: #fdd835;
$c-yellow8: #fbc02d;
$c-yellow9: #f9a825;
$c-yellow10: #f57f17;

$c-orange: #ff9800;
$c-orange6: $c-orange;
$c-orange2: #ffe0b2;
$c-orange3: #ffcc80;
$c-orange4: #ffb74d;
$c-orange5: #ffa726;
$c-orange7: #fb8c00;
$c-orange8: #f57c00;
$c-orange9: #ef6c00;
$c-orange10: #e65100;

$c-dark-orange: #ff5722;
$c-dark-orange6: $c-dark-orange;
$c-dark-orange2: #ffccbc;
$c-dark-orange3: #ffab91;
$c-dark-orange4: #ff8a65;
$c-dark-orange5: #ff7043;
$c-dark-orange7: #f4511e;
$c-dark-orange8: #e64a19;
$c-dark-orange9: #d84315;
$c-dark-orange10: #bf360c;

$c-red: #f44336;
$c-red6: $c-red;
$c-red2: #ffcdd2;
$c-red3: #ef9a9a;
$c-red4: #e57373;
$c-red5: #ef5350;
$c-red7: #e53935;
$c-red8: #d32f2f;
$c-red9: #c62828;
$c-red10: #b71c1c;

$c-pink: #e91e63;
$c-pink6: $c-pink;
$c-pink2: #f8bbd0;
$c-pink3:#f48fb1;
$c-pink4:#f06292;
$c-pink5:#ec407a;
$c-pink7:#d81b60;
$c-pink8:#c2185b;
$c-pink9:#ad1457;
$c-pink10:#880e4f;

$c-dark-purple: #673ab7;
$c-dark-purple6: $c-dark-purple;
$c-dark-purple2: #d1c4e9;
$c-dark-purple3: #b39ddb;
$c-dark-purple4: #9575cd;
$c-dark-purple5: #7e57c2;
$c-dark-purple7: #5e35b1;
$c-dark-purple8: #512da8;
$c-dark-purple9: #4527a0;
$c-dark-purple10: #311b92;

$c-blue: #2196f3;
$c-blue6: $c-blue;
$c-blue2: #bbdefb;
$c-blue3: #90caf9;
$c-blue4: #64b5f6;
$c-blue5: #42a5f5;
$c-blue7: #1e88e5;
$c-blue8: #1976d2;
$c-blue9: #1565c0;
$c-blue10: #0d47a1;

$c-light-blue: #03a9f4;
$c-light-blue6: $c-light-blue;
$c-light-blue2: #b3e5fc;
$c-light-blue3: #81d4fa;
$c-light-blue4: #4fc3f7;
$c-light-blue5: #29b6f6;
$c-light-blue7: #039be5;
$c-light-blue8: #0288d1;
$c-light-blue9: #0277bd;
$c-light-blue10: #01579b;

$c-turquoise: #1ac5b8;
$c-turquoise6: $c-turquoise;
$c-turquoise2: #c1fdf8;
$c-turquoise3: #56f7eb;
$c-turquoise4: #36eadd;
$c-turquoise5: #2ed8cb;
$c-turquoise7: #12b9ac;
$c-turquoise8: #0cab9e;
$c-turquoise9: #03968a;
$c-turquoise10: #038075;

$c-green: #4caf50;
$c-green6: $c-green;
$c-green2: #c8e6c9;
$c-green3: #a5d6a7;
$c-green4: #81c784;
$c-green5: #66bb6a;
$c-green7: #43a047;
$c-green8: #388e3c;
$c-green9: #2e7d32;
$c-green10: #1b5e20;

$c-light-green: #8bc34a;
$c-light-green6: $c-light-green;
$c-light-green2: #dcedc8;
$c-light-green3: #c5e1a5;
$c-light-green4: #aed581;
$c-light-green5: #9ccc65;
$c-light-green7: #7cb342;
$c-light-green8: #689f38;
$c-light-green9: #558b2f;
$c-light-green10: #33691e;

$c-brown: #795548;
$c-brown6: $c-brown;
$c-brown2: #d7ccc8;
$c-brown3: #bcaaa4;
$c-brown4: #a1887f;
$c-brown5: #8d6e63;
$c-brown7: #6d4c41;
$c-brown8: #5d4037;
$c-brown9: #4e342e;
$c-brown10: #3e2723;

$c-grey: #9e9e9e;
$c-grey6: $c-grey;
$c-grey2: #f5f5f5;
$c-grey3: #eeeeee;
$c-grey4: #e0e0e0;
$c-grey5: #bdbdbd;
$c-grey7: #757575;
$c-grey8: #4e4e4e;
$c-grey9: #4e342e;
$c-grey10: #424040;

$c-black: #000;
$c-black2: #404040;
$c-black3: #353535;
$c-black4: #303030;
$c-black5: #252525;
$c-black6: #202020;
$c-black7: #151515;
$c-black8: #101010;
$c-black9: #050505;
