@import "device.scss";

[#{$device_name}~="flex"]{
  @include prefixed(display, flex);
  @extend [#{$device_name}~="flex:fd-r"];
  @extend [#{$device_name}~="flex:fw-w"];
  @extend [#{$device_name}~="flex:jc-fs"];
  @extend [#{$device_name}~="flex:ai-s"];
  @extend [#{$device_name}~="flex:ac-s"];
}
@media screen and (min-width: $min) and (max-width: $max) {
  [#{$device_name}~="position:center"]{
    @include prefixed(display, flex);
    @include prefixed(justify-content, center);
    margin: auto;
  }
}
@media screen and (min-width: $min) and (max-width: $max) {
  [#{$device_name}~="position:ewcenter"]{
    @include prefixed(display, flex);
    @include prefixed(justify-content, center);
    @include prefixed(align-items, center);
    margin: auto;
  }
}
@media screen and (min-width: $min) and (max-width: $max) {
  [#{$device_name}~="position:right"]{
    @include prefixed(display, flex);
    @include prefixed(justify-content, flex-end);
    margin-left: auto;
  }
}
@media screen and (min-width: $min) and (max-width: $max) {
  [#{$device_name}~="position:left"]{
    @include prefixed(display, flex);
    @include prefixed(justify-content, flex-start);
    margin-right: auto;
  }
}